#myDIV {display: none;}
#avi {display: none;}
.PostStream-item:first-of-type {display: none;}

.DiscussionHero{display:none}

@media(max-width: 767px){
.DiscussionPage-nav>ul>li.item-controls, .DiscussionPage-nav>ul>li.item-scrubber {
    margin: 0;
    display: none;
 }}
//.PostStreamScrubber {display:none}

//.Dropdown--split {display:none}


//.App:before{display:none}
